<h1 style="text-align: center; margin-top: 50px">Oops....</h1>
<% if @error == "not started"%>
  <h3 style="text-align: center">The Poll you have requested has not been started yet</h3>
<% else %>
  <h3 style="text-align: center">The Poll you have requested is already over</h3>
<% end %>
