<h1 style="text-align: center; margin-top: 50px">Oops....</h1>
<h3 style="text-align: center">
  <% if @error = "not started"%>
    The Poll you have requested has not been started yet
  <% else %>
    The Poll you have requested is already over
  <% end %>
</h3>
