<p>ADMIN HOMEPAGE!!!</p>
<p> info info info </p>

<!-- On rows -->
<table style="width:1500px;margin:0 auto" class="table table-bordered center">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Deadline</th>
      <th scope="col">Actions</th>
      <th scope="col" >Delete</th>
    </tr>
  </thead>

  <tbody>
    <tr class="warning">
      <td>TA Office Hours - Week 14</td>
      <td>Not Started <button type="button" class="btn btn-success btn-xs">START</button></td>
      <td>-</td>
      <td><button type="button" class="btn btn-secondary">EDIT</button></td>
      <td><button type="button" class="btn btn-secondary text-center">X</button></td>

    </tr>

    <tr class="success">
      <td>Lab 3 Checkoff</td>
      <td>Active <button type="button" class="btn btn-warning btn-xs">END</button></td>
      <td>11:59:59 PM, 12-10-2021</td>
      <td><button type="button" class="btn btn-info">VIEW CURRENT RESULTS</button>  </td>
      <td><button type="button" class="btn btn-secondary text-center">X</button></td>
    </tr>

    <tr class="active">
      <td>Lab 1 Checkoff</td>
      <td>Finished</td>
      <td>11:59:59 PM, 12-10-2021</td>
      <td><button type="button" class="btn btn-info">VIEW FINAL RESULTS</button>  <button type="button" class="btn btn-default">DELETE POLL</button></td>
      <td><button type="button" class="btn btn-secondary text-center">X</button></td>
    </tr>

    <tr class="active">
      <td>Lab 3 Checkoff</td>
      <td>Finished</td>
      <td>11:59:59 PM, 12-10-2021</td>
      <td><button type="button" class="btn btn-info">VIEW FINAL RESULTS</button>  <button type="button" class="btn btn-default">DELETE POLL</button></td>
      <td class="light"><button type="button" class="btn btn-secondary text-center">X</button></td>
    </tr>

  </tbody>

</table>
